


.site_container{
    width:960px;
    margin-left:auto;
    margin-right:auto;
}

.header{
    margin-top:20px;
    margin-bottom:20px;
}


.social_icons{
    margin-left:-5px;
    margin-right:-5px;
    a{
        float:left;
        margin-right:5px;
        margin-left:5px;
        display:block;
        width:25px;
        height:25px;
        background-size:cover;
    }
}

#social_insta{
    background-image: url(http://assets.codecloudapp.com/sites/579231876e6f6467cf000000/image/png/1465242339000/icon_snapchat.png);
    &:hover{
        background-image: url(http://assets.codecloudapp.com/sites/579231876e6f6467cf000000/image/png/1465242360000/icon_snapchat_hover.png);
    }
}


@media(max-width:768px){}