


.site_container{
    width:960px;
    margin-left:auto;
    margin-right:auto;
}

.site_logo{
    width:150px;
}

.header{
    margin-top:20px;
    margin-bottom:20px;
}


.social_icons{
    margin:20px -5px;
    margin-bottom: 10px;
    a{
        float:left;
        margin-right:5px;
        margin-left:5px;
        display:block;
        width:25px;
        height:25px;
        background-size:cover;
    }
    div{
        float:left;
        margin-right:5px;
        margin-left:5px;
        display:block;
    }
    &:after{
        clear:both;
        display: table;
        content: " ";
    }
}

.newsletter_control{
    height: 25px;
    margin: 0;
    padding: 2px;
    margin-left: 5px;
}

#social_insta{
    background-image: url(http://assets.codecloudapp.com/sites/579231876e6f6467cf000000/image/png/1465242339000/icon_snapchat.png);
    &:hover{
        background-image: url(http://assets.codecloudapp.com/sites/579231876e6f6467cf000000/image/png/1465242360000/icon_snapchat_hover.png);
    }
}

.main_nav{
    list-style:none;
    padding-left:0;
    margin-left:-30px;
    margin-right:-30px;
    li{
        float:left;
        padding:15px 30px;
        text-align:right;
        a{
            color:#666;
            
        }
    }
    &:after{
        clear:both;
        display: table;
        content: " ";
    }
}



@media(max-width:768px){}